
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-admin {
    @include media-breakpoint-up(sm) {
        min-width: 100px;
    }
}

.bg-semi-light {
    background-color: #88888888;
}

.bg-light-grey {
    background-color: #ababab88;
}

.info-image {
    max-width: 100%;
    height: auto;
}


/*
* Header styles
*/
.header {
    width: 100%;
    background-image:
        linear-gradient(to bottom, #21212180, #ffffff00),
        url('../images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;

    .header-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include media-breakpoint-up(sm) {
            flex-direction: row;
        }

        .header-title {
            max-width: 100%;
            @include media-breakpoint-up(sm) {
                width: 67%;
            }

        }

        .header-search-form {
            max-width: 100%;
            @include media-breakpoint-up(sm) {
                width: 33%;
            }

            form {
                width:100%;

                .select2 {
                    width: 100%;
                }
            }
        }
    }
}

/*
* Styles for the estates list on the main/index page
*/
.content-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.2em;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }


    .estate-block {
        width: 100%;
        height: auto;

        @include media-breakpoint-up(md) {
            width: 33%;
        }

        .info-block {
            position: relative;
            width: 100%;

            .info {
                position: absolute;
                bottom: 10px;
                right: 20px;
            }

            .image-crop {
                width: 100%;
                height: 200px;
                overflow: hidden;
            }
        }

        .property {
            .property-title {
                &:after {
                    content: ":";
                }
            }

            .property-value {

            }
        }
    } /* .estate-block */
} /* .content-area */

/*
* Styles for the estate information on the individual page of the estate
*/

.estate-area {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    .estate-image {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }

    .estate-information-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 2em;

        @include media-breakpoint-up(md) {
            padding-left: 2em;
            width: 50%;
        }

        .estate-price {
            @extend .h4;
            display: block;
            width: 100%;
            border: 1px solid $yellow;
            border-radius: 1em;
            padding: 1em;
            background-color: $success;
            color: $white;
            font-weight: bold;
        }

        .estate-properties {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-right: 2em;
            padding-left: 2em;

            @include media-breakpoint-up(md) {
                flex-direction: row;
                flex-wrap: wrap;
            }

            .properties-block {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-bottom: 1em;

                @include media-breakpoint-up(md) {
                    width: 50%;
                }

                .property {
                    .property-title {
                        &:after {
                            content: ":";
                        }
                    }

                    .property-value {

                    }
                }
            }

        } /* estate-properties */
    } /* estate-information-block */
} /* estate-area */

.estate-description {
    padding: 2em;
}



/**
* Styles for a search form in the admin panel
*/

.search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.2em;
    border: 1px solid $secondary;
    border-radius: 0.2em;

    h5 {
        &:after {
            content: ":";
        }
    }

    .block-1 {
        display: flex;
        flex-direction: column;
        padding: 0.2em;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .element-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding: 0.2em;

            @include media-breakpoint-up(md) {
                width: auto;
            }

            .element-with-label {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: auto;

                label {
                    margin-right: 1em;

                    &:after {
                        content: ":";
                    }
                }

                input[type=checkbox] {
                    max-height: 2em;
                    margin-right: 2em;
                }

                .form-control {
                    width: auto;
                }
            }
        }
    }
}

/*
* Styles for the estates list in the admin panel
*/

table.estate-list {
    max-width: 100%;

    thead {
        display: none;

        @include media-breakpoint-up(md) {
            display: table-caption;
        }
    }

    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-top: 1px solid $secondary;

        @include media-breakpoint-up(md) {
            display: table-row;
            border: none;
        }

        &:nth-child(even) {
            background-color: $light;
        }

        &:nth-child(odd) {
            background-color: $gray-400;
        }

        td {
            border: none;
            width: 100%;

            @include media-breakpoint-up(md) {
                width: auto;
                border-top: 1px solid $light;
            }

            .estate-label-optional {
                display: inline ;

                @include media-breakpoint-up(md) {
                    display: none;
                }
            }

            .estate-list-param {
                white-space: nowrap;
                padding: 0.5em;
            }

            &.estate-display-optional {
                display: none;
                @include media-breakpoint-up(md) {
                    display: table-cell;
                }
            }
        } /* td */

        &.new-estate {
            background-color: #D4E6F1;
        }

        &.estate-in-process {
            background-color: #FEF9E7;
        }

        &.sold-estate {
            background-color: #D5F5E3;
        }
    } /* tr */
} /* table.estate-list */

/*
* Styles for estate view
*/

.estate-show-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include media-breakpoint-up(md){
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    & > * {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: auto;
        };
    }
}

.estate-show-parameters {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
    }

    & > div {
        display: flex;
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 33%;
        }

        /* label of the parameter */
        & > *:first-child {
            margin-right: 2em;
            &:after {
                content: ":";
            }
        }
    }
}

.estate-ad-into {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(ms) {
        flex-direction: row;
    }

    .estate-image {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 33%;
        }
    }

    .estate-description {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 67%;
        }
    }
}

/**
* Styles for simple objects
*/

.dictionary-index {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    @include media-breakpoint-up(md){
        flex-direction: row;
    }

    .dictionary-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 75%;
        }
    }

    .dictionary-form {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 25%;
        }
    }
}

/**
* Styles for estate create and edit form
*/

.info-block {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(md){
        flex-direction: row;
        justify-content: space-between;
    }

    .info-element {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;;
        width: 100%;

        & > label:after {
            content: ":";
        }

        input[type=text] {
            max-width: 15em;
        }

    }

    .info-element-2 {
        @extend .info-element;
        @include media-breakpoint-up(md) {
            width: 33%;
        }
    }

    .info-element-3 {
        @extend .info-element;
        @include media-breakpoint-up(md) {
            width: 33%;
        }
    }
}
