
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-admin {
    @include media-breakpoint-up(sm) {
        min-width: 100px;
    }
}


input[type=checkbox] {
    max-height: 20px;
}

.header {
    width: 100vw;
    height: 50vh;
    background-image:
        linear-gradient(to bottom, #21212180, #ffffff00),
        url('../images/header.jpg');
    background-position: center;

    padding: 20px;
}

.bg-semi-light {
    background-color: #88888888;
}

.estate-block {
    height: auto;
}
