
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-admin {
    @include media-breakpoint-up(sm) {
        min-width: 100px;
    }
}

input[type=checkbox] {
    max-height: 20px;
}

/*
* Header styles
*/
.header {
    width: 100%;
    background-image:
        linear-gradient(to bottom, #21212180, #ffffff00),
        url('../images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;

    .header-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include media-breakpoint-up(sm) {
            flex-direction: row;
        }

        .header-title {
            max-width: 100%;
            @include media-breakpoint-up(sm) {
                width: 67%;
            }

        }

        .header-search-form {
            max-width: 100%;
            @include media-breakpoint-up(sm) {
                width: 33%;
            }

            form {
                width:100%;

                .select2 {
                    width: 100%;
                }
            }
        }
    }
}

/*
* Styles for the estates list on the main/index page
*/
.content-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.2em;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }


    .estate-block {
        width: 100%;
        height: auto;

        @include media-breakpoint-up(md) {
            width: 33%;
        }

        .info-block {
            position: relative;
            width: 100%;

            .info {
                position: absolute;
                bottom: 10px;
                right: 20px;
            }

            .image-crop {
                width: 100%;
                height: 200px;
                overflow: hidden;
            }
        }
    }
}

/*
* Styles for the estate information on the individual page of the estate
*/

.estate-area {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    .estate-image {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }

    .estate-description {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }
}


.bg-semi-light {
    background-color: #88888888;
}

.bg-light-grey {
    background-color: #ababab88;
}

.info-image {
    max-width: 100%;
    height: auto;
}
